@media (prefers-color-scheme: light) {
    :root {
        --background-color: #FEFCFE;
        --foreground-color: #FEFCFE;
        /* --foreground-color: #36F1CD; */
        --shade-color: #FEFCFE;
        --accent-color: #373739;
        --title-color: #373739;
        --caption-color: #373739;
        --description-color: #373739;
        --filter-inverted: invert(0);
        --boxshadow: #dadada;
        --toggle: #373739;
        --toggle-bg: #dadada;
        --hover: #f5f5f5;
        --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        /* #222F41 */
        /* #373739 */
        /* #FEFCFE */
        /* #5076AD */
    }

    :root.dark {
        --background-color: #2F3136;
        --foreground-color: #2F3136;
        --title-color: #e3e3e3;
        --caption-color: #e3e3e3;
        --description-color: #d4d4d4;
        --shade-color: #323439;
        --boxshadow: #242529;
        --accent-color: #e3e3e3;
        --filter-inverted: invert(1);
        --toggle: #e3e3e3;
        --toggle-bg: #474a52;
        --hover: #26282c;
        --default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px 0px;
    z-index: 1;
    background-color: var(--background-color);
}

h2 {
    font-family: var(--default-font);
    margin-bottom: 4rem;
    text-align: center;
    color: var(--title-color);
}

p {
    font-family: var(--default-font);
    color: var(--description-color);
}

a {
    font-family: var(--default-font);
    color: var(--description-color);
}

/* Navigation Bar */

.skipNavLink {
    background-color: #fa3939;
    padding: 0.5rem;
    border-radius: 0 0 8px 8px;
    color: white;
    font-size: 1rem;
    position: absolute;
    margin-left: 6rem;
    text-decoration: none;
    transform: translateY(-100%);
    outline: #fa3838;
}

.skipNavLink:focus {
    transform: translateY(0);
    transition-duration: 0.1s;
}

.navbar {
    overflow: hidden;
}

.navbar #navFloat {
    float: right;
}

.navbar #navlinktop {
    margin-right: 2rem;
    user-select: none;
}

.navbar .navlink {
    /* font-family: 'Roboto Slab', serif; */
    font-family: var(--default-font);
    float: left;
    display: block;
    color: var(--title-color);
    text-align: center;
    text-decoration: none;
    margin: 2.5rem 1.8rem;
}

.navbar .icon {
    display: none;
    margin: 1.5rem;
    filter: var(--filter-inverted);
}

@media screen and (max-width: 600px) {
    .navbar .navlink {
        display: none;
    }

    .navbar .icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive #navlinktop {
        margin-top: 4rem;
    }

    .navbar.responsive .navlink {
        font-size: 1.3rem;
        float: none;
        display: block;
        text-align: left;
        margin: 0 1rem 0.5rem 0;
    }
}

/* Dark mode toggle */

.switch {
    float: right;
    position: relative;
    width: 50px;
    height: 30px;
    bottom: 4px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--toggle-bg);
    -webkit-transition: .4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    transition: .4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 5px;
    bottom: 4px;
    background-color: var(--toggle);
    -webkit-transition: .4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    transition: .4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

input:checked+.slider {
    background-color: var(--toggle-bg);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--toggle-bg);
}

input:checked+.slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Logo */

#logo {
    font-family: 'Roboto Slab', serif;
    font-size: 3.2rem;
    margin: 1vh 2.5vh;
    padding-bottom: 1vh;
    float: left;
    text-decoration: none;
    color: var(--title-color);
    user-select: none;
}

#logo:visited {
    color: var(--title-color);
}

#logo:hover {
    animation: bounce 0.5s 1;
    -webkit-animation: bounce 0.5s 1;
    -moz-animation: bounce 0.5s 1;
    -o-animation: bounce 0.5s 1;
}

#backgroundWrapper {
    width: 100%;
    background: linear-gradient(170deg, var(--background-color) 0%, var(--background-color) 60%, var(--foreground-color) 60%, var(--foreground-color) 100%);
}

/* Description Section */

#description {
    clear: both;
    padding: 1vw 5.3vh;
    padding-top: 10.67vh;
    margin: auto;
    width: 70%;
    text-align: left;
    font-family: var(--default-font);
    color: var(--description-color);
}

#hiDesc {
    margin-bottom: 0px;
    font-family: 'DM Mono', monospace;
    font-size: 0.9rem;
    color: var(--accent-color);
}

#name {
    font-size: 5rem;
    font-family: var(--default-font);
    margin: 0px 0px 0px 0px;
    color: var(--title-color);
}

#nameDesc {
    font-family: var(--default-font);
    font-size: 2.5rem;
    margin: 0px 0px 0px 0px;
    color: var(--caption-color);
}

#descriptionParagraph {
    width: 70%;
    text-align: left;
    overflow-wrap: break-word;
    margin-bottom: 10.67vh;
    font-size: 1rem;
}

#school-link:link {
    text-decoration: none;
    color: inherit;
}

#school-link:visited {
    color: inherit;
}

.letsTalkButton {
    font-family: var(--default-font);
    margin-top: 0.53vh;
    border-style: solid;
    border-color: var(--accent-color);
    border-width: 0.2vh;
    padding: 1vh 2.1vh;
    border-radius: 0.53vh;
    text-decoration: none;
    color: var(--accent-color);
}

.letsTalkButton:visited {
    color: black;
}

#mainContent {
    /* clear: both; */
    /* z-index: -1; */
    width: 100%;
    margin: 0px auto;
    background-color: var(--foreground-color);
}

#scrollDown {
    margin: 0 auto;
    margin-top: 21.3vh;
    margin-bottom: 21vh;
    width: 2rem;
    height: 2rem;
    border: var(--accent-color);
    border-style: solid;
    border-width: 0 0.2rem 0.2rem 0;
    transform: rotate(45deg);
    animation: arrowPrompt 5s infinite;
    -webkit-animation: arrowPrompt 5s infinite;
    -moz-animation: arrowPrompt 5s infinite;
    -o-animation: arrowPrompt 5s infinite;
}

#scrollDown:hover {
    cursor: pointer;
    opacity: 60%;
}

/* Projects Showcase Section */

#projects {
    width: 80%;
    margin: 0 auto 1rem auto;
    padding-top: 5vh;
}

@media only screen and (max-width: 600px) {
    #projectsTiles {
        display: inline-grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        max-width: 100vw;
        grid-gap: 1rem;
        list-style: none;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (min-width: 600px) and (max-width: 2000px) {
    #projectsTiles {
        display: inline-grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        max-width: 50vw;
        grid-gap: 1rem;
        list-style: none;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (min-width: 2000px) {
    #projectsTiles {
        display: inline-grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        max-width: 40vw;
        grid-gap: 1rem;
        list-style: none;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

.projectGallery {
    padding: 2rem 2rem 0 2rem;
    color: #071013;
    height: 20rem;
    position: relative;
    border-radius: 0.25em;
    background-color: var(--shade-color);
    box-shadow: 1px 1px 10px 1px var(--boxshadow);
}

.projectGallery:hover {
    transform: translateY(-5px);
}

.projectGitLink {
    float: right;
    width: 10%;
    opacity: 0.9;
}

.gitLogo {
    width: 100%;
    float: right;
    filter: var(--filter-inverted);
}

.projectGitLink:hover {
    /* Temp bounce effect */
    animation: bounce 0.5s 1;
    -webkit-animation: bounce 0.5s 1;
    -moz-animation: bounce 0.5s 1;
    -o-animation: bounce 0.5s 1;
}

.projectLink {
    float: right;
    width: 10%;
    margin-left: 10px;
}

.extern {
    width: 100%;
    float: right;
    filter: var(--filter-inverted);
    margin-left: 10px;
}

.projectLink:hover {
    /* Temp bounce effect */
    animation: bounce 0.5s 1;
    -webkit-animation: bounce 0.5s 1;
    -moz-animation: bounce 0.5s 1;
    -o-animation: bounce 0.5s 1;
}

.projectTitles {
    clear: both;
    margin-top: 4rem;
    font-family: var(--default-font);
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--title-color);
}

.projectDesc {
    font-family: var(--default-font);
    margin-top: 2rem;
    margin-right: 2rem;
    color: var(--description-color);
    font-size: 0.98rem;
}

.projectKeywords {
    font-family: 'DM Mono', 'Courier New', Courier, monospace;
    font-size: 0.8rem;
    position: absolute;
    bottom: 2rem;
    word-spacing: 0.8em;
    color: var(--description-color);
}

#more-button {
    font-family: 'DM Mono', 'Courier New', Courier, monospace;
    font-size: 0.8rem;
    width: 100%;
    margin: 6vh auto;
    text-align: center;
}

#projects-page {
    width: 100%;
}

#project-page-desc {
    text-align: center;
    margin: 0vh auto 5vh auto;
}

/* Projects Page Section */

#projectExpandButton {
    font-family: var(--default-font);
    font-weight: 600;
    font-size: 1rem;
    color: var(--description-color);
    margin: 1em auto;
    padding: 0.6em 0.6em;
    border: none;
    background-color: var(--background-color);
}

#projectExpandButton:hover {
    cursor: pointer;
}

.projectCollapseButton {
    background-color: var(--background-color);
    font-family: var(--default-font);
    color: var(--title-color);
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2rem;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px 5px 5px 5px;
}

.projectCollapseExpanded {
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px var(--boxshadow);
}

.active, .projectCollapseButton:hover {
    background-color: var(--hover);
    border-radius: 5px 5px 0px 0px;
}

.projectCollapseButton:after {
    content: '\002B';
    color: var(--accent-color);
    font-weight: bold;
    float: right;
    margin: 0 auto;
}

.active:after {
    content: "\2212";
    color: var(--accent-color);
}

.projectCollapseGallery {
    color: var(--description-color);
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: var(--background-color);
    margin: 0 auto;
    margin-bottom: 1vh;
    border-radius: 0px 0px 5px 5px;
}

.projectCollapseKeywords {
    font-family: 'DM Mono', 'Courier New', Courier, monospace;
    font-size: 0.8rem;
    font-weight: normal;
    margin: auto auto;
    word-spacing: 0.5em;
    color: var(--description-color);
    margin-top: 1vh;
}

.projectCollpaseDescSec {
    float: left;
    display: inline;
    width: 100%;
}

.projectCollapseDesc {
    font-size: 1rem;
    color: var(--description-color);
    text-align: left;
}

.projectCollapseGitLink {
    float: right;
    width: 1.5rem;
    opacity: 0.9;
}

.CollapseGitLogo {
    display: inline;
    width: 100%;
    float: right;
    filter: var(--filter-inverted);
}

.projectCollapseExternLink {
    float: right;
    width: 1.5rem;
    opacity: 0.9;
    margin-left: 10px;
}

.CollapseExternLogo {
    display: inline;
    width: 100%;
    float: right;
    filter: var(--filter-inverted);
}

.projectImage {
    display: block;
    margin: 2vh auto;
    box-shadow: 1px 1px 10px 1px var(--boxshadow);
}

@media only screen and (max-width: 900px) {
    #projectCollapse {
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1500px) {
    #projectCollapse {
        width: 70%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1500px) and (max-width: 2000px) {
    #projectCollapse {
        width: 40%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 2000px) {
    #projectCollapse {
        width: 40%;
        margin: 0 auto;
    }
}

/* Contact Section */

@media only screen and (min-width: 600px) {
    .contact {
        width: 80%;
        margin: 20rem auto 12rem;
        padding-top: 5vh;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .contact {
        width: 80%;
        margin: 8rem auto;
        padding-top: 5vh;
        text-align: center;
    }

    .contactDesc {
        text-align: justify;
    }
}

.contactDesc {
    width: 60%;
    text-align: center;
    font-family: var(--default-font);
    font-size: 1.5rem;
    margin: 5rem auto;
    color: var(--description-color);
}

#footer {
    vertical-align: middle;
    display: inline-flex;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (min-width: 600px) {
    .footerLogo {
        display: inline-table;
        margin: 8rem 1rem 5rem;
        filter: var(--filter-inverted);
    }

    .footerLogoImage {
        width: 2rem;
        border-radius: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .footerLogo {
        margin: 3rem 1rem 3rem;
        filter: var(--filter-inverted);
    }

    .footerLogoImage {
        width: 2rem;
        border-radius: 50%;
    }
}


/* Resume Page */

@media only screen and (max-width: 600px) {
    /* #resume {
        width: 90%;
        height: 80vh;
        margin: 0 auto;
        margin-bottom: 10rem;
    }
    
    iframe {
        display: block;
        width: 100%;
        height: 100%;
        margin: 5rem 0;
    }     */

    #adobe-dc-view {
        width: 90%;
        margin: 0 auto;
        box-shadow: 1px 1px 10px 1px #dadada;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1400px) {
    #adobe-dc-view {
        width: 70%;
        margin: 0 auto;
        box-shadow: 1px 1px 10px 1px var(--boxshadow);
    }
}

@media only screen and (min-width: 1400px) and (max-width: 2000px) {
    /* #resume {
        width: 80%;
        height: 120vh;
        margin: 0 auto;
        margin-bottom: 10rem;
    } */

    /* iframe {
        display: block;
        width: 56%;
        height: 96%;
        margin: 5rem auto;
    } */

    #adobe-dc-view {
        width: 35%;
        margin: 0 auto;
        box-shadow: 1px 1px 10px 1px var(--boxshadow);
    }
}

@media only screen and (min-width: 2000px) {
    #adobe-dc-view {
        width: 40%;
        margin: 0 auto;
        box-shadow: 1px 1px 10px 1px var(--boxshadow);
    }
}

#classicPDF {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

/* About Page */

#about {
    font-family: var(--default-font);
    width: 80%;
    margin: 0 auto;
}

@media only screen and (min-width: 1200px) {
    #profile-image {
        display: block;
        margin: 10vh auto 0 auto;
        width: 20%;
        border-radius: 50%;
    }

    #aboutDesc {
        width: 50%;
        margin: 7vh auto;
        color: var(--description-color);
    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    #profile-image {
        display: block;
        margin: 10vh auto 0 auto;
        width: 50%;
        border-radius: 50%;
    }

    #aboutDesc {
        width: 70%;
        margin: 7vh auto;
        color: var(--description-color);
    }
}

@media only screen and (max-width: 600px) {
    #profile-image {
        display: block;
        margin: 10vh auto 0 auto;
        width: 80%;
        border-radius: 50%;
    }

    #aboutDesc {
        width: 90%;
        margin: 7vh auto;
        color: var(--description-color);
    }
}

#aboutText {
    width: 100%;
    margin: 0 auto;
}



/* Keyframe Animations */

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-1.6vh);
    }

    60% {
        -webkit-transform: translateY(0);
    }

    70% {
        -webkit-transform: translateY(-0.533vh);
    }

    100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes bounce {
    0%, 100% {
        -moz-transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-1.6vh);
    }

    60% {
        -moz-transform: translateY(0);
    }

    70% {
        -moz-transform: translateY(-0.533vh);
    }

    100% {
        -moz-transform: translateY(0);
    }
}

@-o-keyframes bounce {
    0%, 100% {
        -o-transform: translateY(0);
    }

    40% {
        -o-transform: translateY(-1.6vh);
    }

    60% {
        -o-transform: translateY(0);
    }

    70% {
        -o-transform: translateY(-0.533vh);
    }

    100% {
        -o-transform: translateY(0);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-1.6vh);
    }

    60% {
        transform: translateY(0);
    }

    70% {
        transform: translateY(-0.533vh)
    }

    100% {
        transform: translateY(0)
    }
}

@-webkit-keyframes arrowPrompt {
    0%, 100% {
        -webkit-transform: translateY(0) rotate(45deg);
    }

    90% {
        -webkit-transform: translateY(2.13vh) rotate(45deg);
    }

    80% {
        -webkit-transform: translateY(0) rotate(45deg);
    }
}

@-moz-keyframes arrowPrompt {
    0%, 100% {
        -moz-transform: translateY(0) rotate(45deg);
    }

    90% {
        -moz-transform: translateY(2.13vh) rotate(45deg);
    }

    80% {
        -moz-transform: translateY(0) rotate(45deg);
    }
}

@-o-keyframes arrowPrompt {
    0%, 100% {
        -o-transform: translateY(0) rotate(45deg);
    }

    90% {
        -o-transform: translateY(2.13vh) rotate(45deg);
    }

    80% {
        -o-transform: translateY(0) rotate(45deg);
    }
}

@keyframes arrowPrompt {
    0%, 100% {
        transform: translateY(0) rotate(45deg);
    }

    90% {
        transform: translateY(2.13vh) rotate(45deg);
    }

    80% {
        transform: translateY(0) rotate(45deg);
    }
}