body {
    margin: 0px 0px;
    /* background-image: url('images/image5.jpg'); */
    /* background-size: 100%; */
}

.nav {
    margin: 0px 0px;
}

#logo {
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    margin: 5px 20px;
    padding-bottom: 5px;
    float: left;
    text-decoration: none;
    color: black;
}

#logo:visited {
    color: black;
}

#logo:hover {
    animation: bounce 0.5s 1;
   -webkit-animation: bounce 0.5s 1;
   -moz-animation: bounce 0.5s 1;
   -o-animation: bounce 0.5s 1;
}

ul {
    font-family: 'Roboto Slab', serif;
    list-style-type: none;
    margin-right: 50px;
    float: right;
}

li {
    float: left;
    padding: 15px 30px;
}

#description {
    padding: 10px 50px;
    padding-top: 100px;
    margin: auto;
    width: 70%;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

#hiDesc {
    margin-bottom: 0px;
    font-family: 'DM Mono', monospace;
    font-size: 15px;
}

#name {
    font-size: 5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 0px 0px 0px;
}

#nameDesc {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
    margin: 0px 0px 0px 0px;
}

#descriptionParagraph {
    width: 70%;
    text-align: left;
    overflow-wrap: break-word;
    margin-bottom: 100px;
}

#letsTalkButton {
    margin-top: 5px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

#letsTalkButton:visited {
    color: black;
}

#scrollDown {
    margin-left: 50%;
    margin-top: 200px;
    width: 2rem;
    height: 2rem;
    border: black;
    border-style: solid;
    border-width: 0 0.2rem 0.2rem 0;
    transform: rotate(45deg);
    animation: arrowPrompt 5s infinite;
    -webkit-animation: arrowPrompt 5s infinite;
    -moz-animation: arrowPrompt 5s infinite;
    -o-animation: arrowPrompt 5s infinite;
}

#scrollDown:hover {
    cursor: pointer;
    opacity: 60%;
}

#projects {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.projectSectionTitles {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.projectSectionDes {
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#school-link:link {
    text-decoration: none;
    color: black;
}

#school-link:visited {
    color: black;
}

/* Keyframe Animations */

@-webkit-keyframes bounce {
    0%,  
    100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-15px);}
    60% {-webkit-transform: translateY(0);}
    70% {-webkit-transform: translateY(-5px);}
    100% {-webkit-transform: translateY(0);}
}
@-moz-keyframes bounce {
    0%, 
    100% {-moz-transform: translateY(0);}
    40% {-moz-transform: translateY(-15px);}
    60% {-moz-transform: translateY(0);}
    70% {-moz-transform: translateY(-5px);}
    100% {-moz-transform: translateY(0);}
}
@-o-keyframes bounce {
    0%,
    100% {-o-transform: translateY(0);}
    40% {-o-transform: translateY(-15px);}
    60% {-o-transform: translateY(0);}
    70% {-o-transform: translateY(-5px);}
    100% {-o-transform: translateY(0);}
}
@keyframes bounce {
    0%,  
    100% {transform: translateY(0);}
    40% {transform: translateY(-15px);}
    60% {transform: translateY(0);}
    70% {transform: translateY(-5px)}
    100% {transform: translateY(0)}
}

@-webkit-keyframes arrowPrompt {
    0%,
    100% {-webkit-transform: translateY(0) rotate(45deg);}
    90% {-webkit-transform: translateY(20px) rotate(45deg);}
    80% {-webkit-transform: translateY(0) rotate(45deg);}
}
@-moz-keyframes arrowPrompt {
    0%,
    100% {-moz-transform: translateY(0) rotate(45deg);}
    90% {-moz-transform: translateY(20px) rotate(45deg);}
    80% {-moz-transform: translateY(0) rotate(45deg);}
}
@-o-keyframes arrowPrompt {
    0%,
    100% {-o-transform: translateY(0) rotate(45deg);}
    90% {-o-transform: translateY(20px) rotate(45deg);}
    80% {-o-transform: translateY(0) rotate(45deg);}
}
@keyframes arrowPrompt {
    0%,
    100% {transform: translateY(0) rotate(45deg);}
    90% {transform: translateY(20px) rotate(45deg);}
    80% {transform: translateY(0) rotate(45deg);}
}