body {
    margin: 0px 0px;
    /* background-image: url('images/image5.jpg'); */
    /* background-size: 100%; */
    /* background-color: #3afccc; */
}

.nav {
    margin: 0px 0px;
}

#logo {
    font-family: 'Roboto Slab', serif;
    font-size: 3.2rem;
    margin: 1vh 2.5vh;
    padding-bottom: 1vh;
    float: left;
    text-decoration: none;
    color: black;
}

#logo:visited {
    color: black;
}

#logo:hover {
    animation: bounce 0.5s 1;
   -webkit-animation: bounce 0.5s 1;
   -moz-animation: bounce 0.5s 1;
   -o-animation: bounce 0.5s 1;
}

ul {
    font-family: 'Roboto Slab', serif;
    list-style-type: none;
    margin-right: 5.3vh;
    float: right;
}

li {
    float: left;
    padding: 1.6vh 1.7rem;
}
/* 
#belowNav {
    height: 100vh;
    margin: 0;
    background: #3afccc;
}

#belowNav:before {
      content: "";
      width: 32vh;
      background: #000;
      transform: skew(-30deg);
      transform-origin:top;
}
 */


#description {
    padding: 1vw 5.3vh;
    padding-top: 10.67vh;
    margin: auto;
    width: 70%;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

#hiDesc {
    margin-bottom: 0px;
    font-family: 'DM Mono', monospace;
    font-size: 0.9rem;
}

#name {
    font-size: 5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 0px 0px 0px;
}

#nameDesc {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5rem;
    margin: 0px 0px 0px 0px;
}

#descriptionParagraph {
    width: 70%;
    text-align: left;
    overflow-wrap: break-word;
    margin-bottom: 10.67vh;
    font-size: 1rem;
}

#letsTalkButton {
    margin-top: 0.53vh;
    border-style: solid;
    border-color: black;
    border-width: 0.2vh;
    padding: 1vh 2.1vh;
    border-radius: 0.53vh;
    text-decoration: none;
    color: black;
}

#letsTalkButton:visited {
    color: black;
}

#scrollDown {
    margin-left: 50%;
    margin-top: 21.3vh;
    width: 2rem;
    height: 2rem;
    border: black;
    border-style: solid;
    border-width: 0 0.2rem 0.2rem 0;
    transform: rotate(45deg);
    animation: arrowPrompt 5s infinite;
    -webkit-animation: arrowPrompt 5s infinite;
    -moz-animation: arrowPrompt 5s infinite;
    -o-animation: arrowPrompt 5s infinite;
}

#scrollDown:hover {
    cursor: pointer;
    opacity: 60%;
}


#projects {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.projectSectionTitles {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.projectSectionDes {
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#school-link:link {
    text-decoration: none;
    color: black;
}

#school-link:visited {
    color: black;
}

/* Keyframe Animations */

@-webkit-keyframes bounce {
    0%,  
    100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-1.6vh);}
    60% {-webkit-transform: translateY(0);}
    70% {-webkit-transform: translateY(-0.533vh);}
    100% {-webkit-transform: translateY(0);}
}
@-moz-keyframes bounce {
    0%, 
    100% {-moz-transform: translateY(0);}
    40% {-moz-transform: translateY(-1.6vh);}
    60% {-moz-transform: translateY(0);}
    70% {-moz-transform: translateY(-0.533vh);}
    100% {-moz-transform: translateY(0);}
}
@-o-keyframes bounce {
    0%,
    100% {-o-transform: translateY(0);}
    40% {-o-transform: translateY(-1.6vh);}
    60% {-o-transform: translateY(0);}
    70% {-o-transform: translateY(-0.533vh);}
    100% {-o-transform: translateY(0);}
}
@keyframes bounce {
    0%,  
    100% {transform: translateY(0);}
    40% {transform: translateY(-1.6vh);}
    60% {transform: translateY(0);}
    70% {transform: translateY(-0.533vh)}
    100% {transform: translateY(0)}
}

@-webkit-keyframes arrowPrompt {
    0%,
    100% {-webkit-transform: translateY(0) rotate(45deg);}
    90% {-webkit-transform: translateY(2.13vh) rotate(45deg);}
    80% {-webkit-transform: translateY(0) rotate(45deg);}
}
@-moz-keyframes arrowPrompt {
    0%,
    100% {-moz-transform: translateY(0) rotate(45deg);}
    90% {-moz-transform: translateY(2.13vh) rotate(45deg);}
    80% {-moz-transform: translateY(0) rotate(45deg);}
}
@-o-keyframes arrowPrompt {
    0%,
    100% {-o-transform: translateY(0) rotate(45deg);}
    90% {-o-transform: translateY(2.13vh) rotate(45deg);}
    80% {-o-transform: translateY(0) rotate(45deg);}
}
@keyframes arrowPrompt {
    0%,
    100% {transform: translateY(0) rotate(45deg);}
    90% {transform: translateY(2.13vh) rotate(45deg);}
    80% {transform: translateY(0) rotate(45deg);}
}